/*Home - Section One*/

 .section_one_holder {
    width: 100%;
    height: 90vh;
    background-color: #e74c3c;
    display: flex;
    flex-direction: column;
    gap: 50px;
 }

 .section_one_main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
 }

 .section_one_text {
    width: 100%;
    max-width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }


 .section_one_text h1 {
    margin: 0;
    font-size: 42px;
 }

 .section_one_text p {
    opacity: .7;
    border-top: 1px solid white;
    padding-top: 30px;
 }

 .section_one_text button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
 }

 .section_one_main img {
    height: 500px;
    width: 500px;
 }

 .section_one_footer {
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
 }

 .section_one_footer img {
    width: auto;
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    filter: grayscale(1);
    opacity: .3;
 }

 .section_one_footer img:hover {
    filter: grayscale(0);
    opacity: 1;
 }

 /*Home - Section One End*/
 /*Home - Section Two*/

.section_two_holder {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.section_two_main {
    width: 100%;
    max-width: 600px;
}

.section_two_main p {
    opacity: .7;
}

.section_two_cards {
    display: flex;
    gap: 30px;
}

.section_two_cards img {
    width: 50px;
    height: 50px;
}

.card {
    width: 100%;
    max-width: 250px;
}

.card h1 {
    font-size: 20px;
}

.card p {
    opacity: .7;
}

/*Home - Section Two End*/
 /*Home - Section Three*/

 .section_three_holder {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.section_three_main {
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section_three_main h1 {
    width: 100%;
    max-width: 300px;
    font-size: 26px;
    margin: 0;
}

.section_three_main p {
    width: 100%;
    max-width: 300px;
    opacity: .7;
    margin: 0;
}

.section_three_main button {
    width: 100%;
    max-width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
}

.section_three_image {
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-color: #e74c3c;
}

 .section_three_image img {
    height: 500px;
    width: 500px;
 }

 /*Home - Section Three End*/
 /*Home - Section Four*/

 .section_four_holder {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
 }

 .section_four_card_holder {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
 }

.section_four_card {
    width: 100%;
    max-width: 200px;
    height: 300px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    text-align: center;
    gap: 30px;
}

 .section_four_card img {
    width: 100px;
    position: absolute;
    top: -30px;
 }

 .section_four_card h5 {
    color: #e74c3c;
    font-size: 20px;
    margin: 0px;
    margin-top: 20px;
 }

 .section_four_card p {
    opacity: .6;
    margin: 0px;
 }


 .section_four_price {
    color: #e74c3c;
    opacity: 1!important;
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
 }

 /*Home - Section Four End*/
 /*Home - Section Five*/

.section_five_holder {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    gap: 50px;
}

.section_five_email_submit {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: black;
    height: 300px;
    color: white;
}

.section_five_email_submit h2 {
    margin: 0px;
}

.section_five_email_input {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.section_five_email_input input {
    width: 100%;
    max-width: 250px;
}

.section_five_main {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section_five_main_info {
    width: 100%;
    max-width: 700px;
}

.section_five_main_info h2 {
    font-weight: bold;
    margin: 0px;
}

.section_five_main_info p {
    opacity: .6;
}

.section_five_main_list {
    width: 100%;
    max-width: 1000px;
    height: 100px;
    display: flex;

}

.section_five_main_list ul {
    width: 100%;
    max-width: 500px;
    line-height: 30px;
    list-style-type: "✓";
    font-weight: bold;
    font-size: 14px;
    text-align: start;
}

/*Home - Section Five End*/
 /*Home - Section Six*/

.section_six_holder {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.review_card_holder {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.review_card {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.review_card p {
    line-height: 24px;
    opacity: .8;
}

.review_card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user_name {
    color: #e74c3c;
    font-weight: bold;
    opacity: 1!important;
}

/*Home - Section Six End*/
 /*Home - Section Seven*/

.section_seven_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section_seven_holder {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e74c3c;
    padding: 20px 50px;
}

 .section_seven_holder img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
 }

 .section_seven_info {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

 .section_seven_info p {
    color: white;
    line-height: 24px;
    opacity: .8;
 }

 .section_seven_info button {
    width: 100%;
    max-width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
 }

 .section_seven_info_title {
    color: white;
    font-size: 26px;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
 }

 .section_seven_info_title h1 {
    margin: 0px;
    font-weight: normal;
 }