.about_holder {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px;
}

.about_segment {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about_segment img {
    width: 300px;
}

.about_segment_text {
    width: 100%;
    max-width: 500px;
}

.about_segment_text p {
    opacity: .6;
    font-size: 14px;
    line-height: 24px;
}

.about_title {
    font-size: 28px;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 0px;
    
    background-image: url('../../assets/background.webp');
}